[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
	branch = v5.17-rc4
	shallow = true
	update = checkout
[submodule "man-pages"]
	path = man-pages
	url = git://git.kernel.org/pub/scm/docs/man-pages/man-pages.git
