[submodule "linux"]
	path = linux
	url = https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git
	branch = v5.19
	shallow = true
	update = checkout
[submodule "man-pages"]
	path = man-pages
	url = git://git.kernel.org/pub/scm/docs/man-pages/man-pages.git
	shallow = true
[submodule "dropbear"]
	path = dropbear
	url = https://github.com/mkj/dropbear.git
	branch = master
	shallow = true
[submodule "musl"]
	path = musl
	url = git://git.musl-libc.org/musl
	branch = master
	shallow = true